

.projectsContainer {
  max-width: 1000px;
  width: 100%;
  margin: 1rem 0 7rem 0;

}
.projectsHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.projectsHeader h1{
  color: #FFFFFF;
  font-family: "Space grotesk";
}


.projectsHeader button{
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  border-bottom:1px solid #4ee1a0;
  padding: 0 0 0.4rem 0;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.projects{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 1rem;
}


.project{
  width: 100%;
  max-width: 490px;
  container: project / inline-size;
}

.projectImage{
  width: 100%;
}

.projectTitle{
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "space grotesk";
  font-size: clamp(0.1rem,5cqi ,1rem);

}

.tools div{
  color: #FFFFFF;
  list-style: none;
  font-family: "space grotesk";
  margin: 0 0.7rem 0 0 ;
  font-size: clamp(0.1rem,3cqi ,1rem);
}

.tools{
  display: flex;
}


.imgContainer{
  position: relative;
}

.buttons{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.project:hover .buttons{
  visibility: visible;
}


.buttons a{
  font-family: "space grotesk";
  font-size: clamp(0.1rem,5cqi,1rem);
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px #4ee1a0 solid;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: clamp(0.4rem,2cqi,1rem);
}


.buttons a:hover{
  color: #4ee1a0;
}



@media screen and (max-width:450px) {
    .projects{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}