
.contact{
    width: 100%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.content{
    max-width: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: "Space grotesk";
    color: #d9d9d9;
    padding: 3rem 0 5rem 0;
    border-bottom: 2px solid #FFFFFF;
    
}

.textSide{
    width: 40%;
}
.textSide h1{
    margin: 1.5rem 0 ;
}

form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.resultElement{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}



form span{
    color: red;
    font-size: 0.6rem;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.inputRed{
    border: 2px solid red;
}

input{
    width: 100%;
    height: 50px;
    padding: 0 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    margin: 1rem 0;
    color: #d9d9d9;
}

input:focus{    
    border-bottom: 2px solid #4ee1a0;
}


#message{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #d9d9d9;
    border-bottom: 2px solid #FFFFFF;
    margin: 0 0 1rem 0;
}

textarea:focus{    
    border-bottom: 2px solid #4ee1a0;
}





.contactBtn{
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-family: "Space grotesk";
    color: #d9d9d9;
    border-bottom: 2px solid #4ee1a0;
    margin: 1rem 0;
    padding: 0.5rem 0;
    cursor: pointer;
}

.contactBtn:hover{
    color: #4ee1a0;
}

.content img{
    width: 530px;
    position: absolute;
    bottom: 50px;
    left: -35%;
}





@media screen and (max-width:768px) {
    .contact{
        padding: 0 2rem;
    }
    .content{
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    form{
        max-width: 450px;
        width: 100%;
    }
    
    .resultElement{
        max-width: 450px;
        width: 100%;
    }


    .textSide{    
        max-width: 450px;
        width: 100%;
        text-align: center;
    }
    .textSide h1{
        font-size: 50px;
    }
    
}
@media screen and (max-width:450px) {
    .content{
        flex-direction: column;
        max-width: 400px;
    }
    .content img{
        width: 530px;
        position: absolute;
        bottom: 50px;
        left: -80%;
    }


}