
:root{
  --black:#151515;
  --green:#4ee1a0;
  --light-black:#242424;
  --grey:#d9d9d9;
  --white:#FFFFFF;
}



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #151515;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
